# Node.js
node_modules/
.env
npm-debug.log*
dist/output.css

# Photos et contenu dynamique
photos/
photos/**

# Configuration et textes
texts.json
config.json

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
/build
/dist/*.map
